.project-list-report .MuiPaper-root {
  box-shadow: none !important;
}

.project-card-detail .MuiCardContent-root {
  position: relative;
}

.project-card-detail .project-edit {
  position: absolute;
  right: 10px;
}
